.card-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(580px, 1fr));
  padding: 40px;
}

.error-message {
  font-size: 24px;
  display: flex;
  justify-content: center;
}
